@import "fonts"
@import "libs"
@import "base"
@import "vars"

body
	background-color: #ffffff

.main-header
	&__h1
		text-align: center
		line-height: 2
		margin: 0
	&__TomTomLogo
		width: 125px
		display: inline-block

#loader

.app
	width: 100%
	&__container
		display: flex
		justify-content: flex-start
		align-content: flex-start
		flex-wrap: nowrap

.app
	&__accidents
		flex-basis: 25%
		width: 25%
		overflow-y: scroll
		max-height: 710px
	&__accidents-container
		.mdc-list
			.mdc-list-item_selected
				height: 210px
	&__accidents-title
		text-align: center

.mdc-list-item
	transition: .25s
	cursor: pointer
.secondary-text__hidden
	display: none


.app
	&__map
		flex-basis: 75%
	&__map-container

.svgIcon
.svgIconUnSelected
	fill: #DF1A26
.svgIconUnSelected:hover
		cursor: pointer
		fill: #F91A29
.svgIconSelected
	fill: #02A2A5

.svgIconPath:hover
	fill: #F91A29

@import "media" // Always in the bottom
