@import "fonts"
@import "libs"
@import "base"
@import "vars"

body
	background-color: #ffffff
.main-header
	text-align: center
	line-height: 2

.TomTomLogo
	width: 125px
	display: inline-block

.map
	display: flex
	width: 100%
	&-container
		width: 60%
		margin: 0 auto
	&-img
		width: 100%

.accidents
	background-color: #E4E4E4
	&-title
		text-align: center






@import "media" // Always in the bottom
